<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nasi</title>
</head>
<body>
    <div class="container">
        <h1 class="text-2xl font-bold text-center">Makanan Kategori Nasi</h1>
        <div class="makanan-list">
            {% for makanan in makanan_list %}
                <div class="makanan-item">
                    <h2>{{ makanan.food_name }}</h2>
                    <p>Harga: Rp {{ makanan.price }}</p>
                    <p>Lokasi: {{ makanan.location }}</p>
                    <p>Rating: {{ makanan.new_rating }}</p>
                    <p>Deskripsi: {{ makanan.food_desc }}</p>
                    <a href="/review/makanan/${makanan.id}/tambah_review/"><button>Add Review</button></a>
                    <a href="/review/makanan/${makanan.id}/reviews/"><button>See All Reviews</button></a>
                </div>
            {% empty %}
                <p>Tidak ada makanan dalam kategori ini.</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>